altgraph==0.17.3
attrs==23.1.0
build==0.10.0
colorama==0.4.6
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fire==0.5.0
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.24.3
packaging==23.1
pep517==0.13.0
pluggy==1.0.0
prompt-toolkit==3.0.38
py==1.11.0
Pygments==2.15.1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyproject_hooks==1.0.0
pytest==7.3.1
pytest-asyncio==0.21.0
PyYAML==6.0
regex==2023.5.5
rich==13.7.0
six==1.16.0
tabulate==0.9.0
termcolor==2.3.0
toml==0.10.2
tomli==2.0.1
wcwidth==0.2.6
XlsxWriter==3.1.0
